services:
  ip-checker:
    build:
      context: .
      network: host
    container_name: ip-checker-client-server
    image: ip-checker-client-server
    environment:
      - PORT=80
    restart: unless-stopped
